<div class="container">
  <form class="jumbotron bg-secondary">
      <h3 class="display-4">Add a Link</h3>
      <div class="form-group">
        <label for="title">Title:</label>
        <input name="title" #newtitle class="form-control">
      </div>
      <div class="form-group">
        <label for="link">Link:</label>
        <input name="link" #newlink class="form-control">
      </div>
    <button (click)="addArticle(newtitle, newlink)" class="btn btn-primary mx-1">
      Submit link
    </button>
    <button (click)="showArticle()" class="btn btn-primary mx-1">
      Show links
    </button>
  </form>
</div>

<div class="container">
  <!-- start adding here -->
  <app-article *ngFor="let art of sortedArticles()" [article]="art"></app-article>
  <!-- end adding here -->
</div>
